@charset "utf-8";

/*

Shorthand:

margin: 40px; All 4 sides
margin: 40px auto; top/bottom right/left
margin: 40 px auto; top right/left bottom
margin: 40px 30px 5px 10px; top right bottom left

Start at the top and continue clockwise around the box

Units of measurement

Width = %
Height = rem
Type = rem
Graphics = px (e.g. border would be "graphic")

Reminder: the child determines the height of an element 

*/

/* Controls the size of the viewport */

@-moz-viewport { width: device-width; scale: 1; } /* Firefox *.
@-ms-viewport { width: device-width; scale: 1; } /* Internet Explorer*/
@-o-viewport { width: device-width; scale: 1; } /*Opera */
@-webkit-viewport { width: device-width; scale: 1; } /* Safari & Google */
@viewport { width: device-width; scale: 1; } /*W3C Standard */

/* Adjust padding so it draws on the box interior */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    
/* Control the zoom of they type on mobile */
    
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
/* Control the type size on mobile and desktop */
    
    font-size: 100%; /* 100% = 16 px = 1 rem */
    
    font-family: Georgia, Times, serif; 
}

/* Images are responsive */

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

.masthead {
    background-color: maroon;
    overflow: hidden; /*Forces parent to wrap around its child*/
}

.logo {
    height: 4.5rem;
    width: auto;
    margin: .5rem 5%;
    
    /* float: right; */
    
    /* margin: .5rem auto; */
}

article {
    margin:0;
    padding: 0 5%;
    overflow: hidden;
}

h1 {
    margin: 1.5rem 0;
    font-size: 4rem;
    line-height: 4rem;
}
    
h1 + p {
    font-size: 1.25rem;
    margin: 0 0 1.5rem;
    line-height:1.6rem;
}

p {
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
    }

figure {
    margin: 0 auto 1.5rem;
    width: 80%; /* Change the width of the figure */
} 

figcaption {
    font-size: .75rem;
    margin: .5rem 0;
} 

footer {
    background-color: brown;
    overflow: hidden;
}

footer p {
    color: white;
    margin: .5rem 5% 4rem;
    font-size: .75rem;
} 

footer a {
    color: white;
}

